body {
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
  
    @media(min-width:576px){
        flex-direction: row;
    }
  }
  
  .sidebar {
    background: lightgray;
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    height: 100vh;
  
    @media(min-width:576px){
          position: relative;
          flex:1;
      }
  }
  
  .sidebar--open {
    display: block; 
    animation-duration: 0.6s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: animateleft;
    position:relative;
  }
  
  .menu {
    padding: 24px 0;
  
      ul{
      padding: 0;
      list-style: none;
  
      a {
        padding: 12px ;
        text-decoration: none;
        display: block;
        color: black;
  
        &:hover {
          background: gray;
        }
      }
    }
  }
  
  .content {
    padding: 20px;
    transition-property: margin-left;
    transition-duration: 0.6s;
    transition-timing-function: ease;
    transition-delay: 0s;
  
     @media(min-width:576px){
        flex:2;
      }
  }
  
  .content--open {
    margin-left: 5%;
  }
  
  @keyframes animateleft{
    from{ 
      left:-400px; 
      opacity:1
    }
    to{
        left:0;
        opacity:1;
      
    }
  }
  
  
  