.main-container-about{
    background-image:url('https://ewm.swiss/application/files/3616/0516/5661/Web_Design_EWM_SA_Digital_Agency_Geneva.jpg'); 
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-zoom: 10;
    position: relative;

}
h1{
    align-items: center;
    // margin-left: 216px;
    font-size: 50px;
    font-weight: 800;
    font-family: Nunito;
}
h3{
    // margin-left: 216px;

}

.bg-color{
    background-color: white;
}

.interval{
    height: 100px;
    margin-top: 0%;
    margin-left: 0;
    width: 100%;
}
.title{
    align-items: center;
    margin-left: 781px;
    font-size: 50px;
    font-weight: 800;
    font-family: Nunito;
}
.step-align{
    margin-left: 750px;
    margin: 0px 0px 0px 0px;
}






h1, p {
    font-family: Lato;
  }
  
  body {
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
  }
  
  .nav-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .nav-tabs .tab {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #fff;
    color: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
    transition: width 0.3s;
  }
  
  .a .tab.active {
    background: #ffb918;
    color: #fff;
    width: 80px;
  }
  
  .b .tab.active {
    background: #5dc58a;
    color: #fff;
    width: 80px;
  }
  
  .c .tab.active {
    background: #fe0041;
    color: #fff;
    width: 80px;
  }
  
  .d .tab.active {
    background: #c500ef;
    color: #fff;
    width: 80px;
  }